body.night {
  background: #242f3e;
  color: #546778;
}

.night #y-axis span {
  border-bottom: thin solid #293544;
}

.night #buttons button {
  border-color: #344658;
}

.night #left, .night #right {
  background: rgba(0, 0, 0, 0.5);
}

.night #left-handle, .night #right-handle {
  background: rgba(255, 255, 255, 0.2);
}

body.night #night-switch {
  display: none;
}

body:not(.night) #day-switch {
  display: none;
}