* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gates {
  position: relative;
  display: inline-block;
  width: 600px;
  height: 100px;

  background: #398476;
  border: thin solid #eee;
  overflow: hidden;
}

#left, #right {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

#left {
}

#right {
}

#left-handle, #right-handle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 100%;
  background: rgba(0, 30, 30, 0.2);
  cursor: pointer;
  z-index: 1;
}

#left-handle {
  right: -20px;
}

#right-handle {
  left: -20px;
}

#clear {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 0;
}